PORT=8080
MODE=development
FRONTEND_ORIGIN=http://localhost:3000
PERSISTENCE=MONGO

MONGO_URL=
JWT_SECRET=
TOKEN_KEY=
HASH_KEY=

GIT_CLIENT_ID=
GIT_CLIENT_SECRET=
GIT_CALLBACK_URL=
GIT_APP_ID=

SERVICE_MAIL=
SERVICE_MAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_NUMBER=
