<div class="container">
    <div class="row">
        <div class="col-md-6 contenedor-formulario">
        <h2 class="title">Recuperar Contraseña</h2>
        <form id="RecoveryForm" action="/api/sessions/recoveryPass" method="post" class="formulario">
            <input type="email" name="email" placeholder="Email" class="input-email" />
            <button class="recoveryButtom">Enviar Mail de Recuperación</button>
        </form>
        </div>
    </div>
</div>

<script src="/js/recoveryPass.js"></script>