<div class="container">
    <div class="row">
        <div class="col-md-6 contenedor-formulario">
            <h2 class="title">Token Expirado</h2>
            <p>El enlace para restablecer la contraseña ha expirado.</p>
            <a href="/recoveryPass" class="reenviar-button">Reenviar correo de recuperación</a>
        </div>
    </div>
</div>
