
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(222, 222, 222, 0.479);
}

.header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: medium;
    background-color: rgba(222, 222, 222, 0.479);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    
}

.header .cart-btn {
    margin-right: 4rem;
    
}

.header .cart-btn ion-icon {
    margin-right: 0.2rem;
}


.header .profile-btn {
    margin-left: 1rem;
}

.header a ion-icon {
    margin-right: 0.2rem;
}

.back-btn {

    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: medium;
    background-color: rgba(222, 222, 222, 0.479);
    padding: 0.5rem;
    border-radius: 1rem;
    
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    
}

.user-info {
    text-align: center;
}

.cart-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#logout-btn {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.cart-item {
    background-color: rgba(222, 222, 222, 0.479);
    border: 3px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.product-img {
    width: 20rem;
}

.product-name {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-description {
    font-size: 1rem;
    margin: 5px 0;
}

.product-price {
    font-size: 1rem;
    margin: 5px 0;
}

.product-quantity {
    font-size: 1rem;
    margin: 5px 0;
}

.cart-summary {
    background-color: rgba(222, 222, 222, 0.479);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.total-items {
    font-size: 1rem;
    margin: 5px 0;
}

.total-price {
    font-size: 1.5rem;
    margin: 10px 0;
}

.empty-cart {
    text-align: center;
    font-size: 1rem;
    margin: 2rem 0;
}

.checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.checkout-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 20%;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 2rem;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #0056b3;
}