* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  
body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
    
}
  
.contenedorLogin {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #f1f7fe;
    height: 100%;
    justify-content: space-around;
    
    padding: 2em;
    border-radius: 1.9rem;
    -webkit-border-radius: 1.9rem;
    -moz-border-radius: 1.9rem;
    -ms-border-radius: 1.9rem;
    -o-border-radius: 1.9rem;
}
.contenedorLogin .logo{
    align-self: center;
    margin-right: 6rem;
}

.contenedorLogin h1{
    
    text-align: center;
    margin-bottom:1rem;
}


.contenedorLogin .inputs{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

 
.contenedorLogin .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #4d4d4d;
    margin-bottom: 1rem;
}

.contenedorLogin .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #4d4d4d;
    margin-bottom: 3rem;
}

.sec-2{
    display: flex;
    height: 1.5rem;
    align-items: center;
}
.sec-2 ion-icon{
    margin-right: 0.3rem;
}

.contenedorLogin .email input {

    outline: none;
    border: none;
    width: 80%;
}
.contenedorLogin .email input::-moz-placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin .email input:-ms-input-placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin.email input::placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin .email ion-icon {
color: #4d4d4d;
margin-bottom: -0.2em;
}

.contenedorLogin .password input {
outline: none;
border: none;
width: 80%;
}
.contenedorLogin .password input::-moz-placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin .password input:-ms-input-placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin .password input::placeholder {
color: black;
font-size: 0.9em;
}
.contenedorLogin .password ion-icon {
color: #000000;
margin-bottom: -0.2em;
}
.contenedorLogin .password .show-hide {
margin-right: -5em;
}



.contenedorLogin form{
    display: flex;
    flex-direction: column;

}


  .contenedorLogin .login {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    align-self: center;
  }
  .contenedorLogin a {
    display: flex;
    justify-content:center;
    font-size: 0.7em;
    color: #5e5e5e;
    text-decoration: none;
    
  }
  
  .contenedorLogin a button {
    padding: 1em;
    background: #55aa69;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
  }
  
  button {
    cursor: pointer;
  }