*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: 25% 75%; /* Divide el header en tres columnas */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #333;
    padding: 1rem 0;
}
.header .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .buttom-primary {
    position: relative;
    right: 5.2rem;
}
.header .buttom-primary .admin-btn p {
    position: relative;
    left: 0.4rem;
}

.header .buttom-primary .premium-btn p {
    position: relative;
    left: 0.4rem;
}

.header .buttom-primary  .cart-btn p {
    position: relative;
    left: 0.4rem;
}

.header .buttom-primary  a p {
    position: relative;
    left: 0.4rem;
}
.header .img-container .nombre-marca {
    color: #f01945; /* Color principal */
    font-size: 3em; /* Tamaño de la fuente */
    font-family: 'Montserrat', sans-serif; /* Fuente */
    font-weight: bold; /* Peso de la fuente */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
    letter-spacing: 3px; /* Espaciado entre letras */
    text-shadow: 
        -3px -3px 0 #ffffff, /* Arriba-izquierda */
        3px -3px 0 #ffffff, /* Arriba-derecha */
        -3px 3px 0 #ffffff, /* Abajo-izquierda */
        3px 3px 0 #ffffff; /* Abajo-derecha */
    line-height: 0.9; /* Ajustar el interlineado según sea necesario */
}

.header .img-container img {
    width: 35%; /* Reduce el tamaño de la imagen del logo */
    height: auto;
}
.header section{
    display: flex;
    justify-content: center;
}

.header a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size:medium;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    height: 4rem;
    width: 9rem;
    margin: 0 2rem;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}



.avatar-section {
    display: flex;
    align-items: center;
}

.avatar-section img {
    width: 220px;
    height: 190px;
    border-radius: 100%;
    margin-right: 20px;
    aspect-ratio: 3/2;
    object-fit: contain;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.avatar-section div {
    font-size: 18px;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="file"] {
    margin-right: 10px;
}

button[type="submit"] {
    padding: 11px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    height: 3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.submit-container {
    height: 100%;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.file-input-label {
    padding: 5px 16px;
    background-color: #576a7e;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right:4rem;
    font-size: 1rem;
    height: 2.5rem;
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
}

.file-input-label:hover {
    background-color: #0056b3;
}

.uploaded-documents {
    margin-top: 20px;
}

.section-title {
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.document-list {
    list-style: none;
    padding: 0;
}

.document-item {
    margin-bottom: 10px;
}

.document-reason {
    font-weight: bold;
}

.view-document-link {
    color: #007bff;
    text-decoration: none;
}

.view-document-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
